<HTML>
<link rel='stylesheet' href='/static/css/main1.css'>
<body>
        <div class="todo-header">
        <h2>ToDo List</h2>
         
            
</div>
 <nav> 
            <div> 
                <a href='/'>Home</a>  
                <a href='/special'>Special</a>
            </div> 
            <div> 
                <a href='/user/signup'>Signup</a> 
                <a href='/user/login'>Login</a> 
                <form action='/user/logout' method='POST'> 
                    <button>Logout</button> 
                </form> 
            </div> 
        </nav> 
        <div class="todo-body">
        <nav>
        {{if .Flash}}
        <div class='flash'>{{.Flash}}</div>
        {{end}}</div>
        <div>
        
        <form action="/Add" method="post">
            <input
                type="text"
                name="todoText"
                class="todo-input"
                placeholder="Add your items"
            />
        </nav>
            <input
                type="submit"
                value="add"
            />
        </form>
        <h1>Your task</h1>
        
        {{range .Tasks}}
        <div>
        <form action="/delete?{{.Name}}" method="post">
            <label>{{.Name}}</label>
            <input type="hidden" value="{{.Name}}" name="Name">
            <input type="submit" value="Delete">
            </form>
            <form action="/Update?id={{.ID}}" method="post">
              <input type="hidden" value="{{.ID}}" name="ID">
            <input type="submit" value="Update" > 
                <input type="text" name="update_name">
        </form>
        {{end}}
     </body>
</HTML>
